
<div class="container p-2">
  <div class="row justify-content-center">
      <div class="input-group">
        <div class="input-group-prepend">

          <button class="btn btn-outline-info" (click)="getTicketById()">Find Ticket</button>

        </div>
        <input type="text" class="TicketId" placeholder="" aria-label="" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>

<div class="container p-2">
  <div class="row justify-content-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" (click)="updateTicket()">Update Ticket</button>
      </div>
      <input type="text" class="TicketId" placeholder="" aria-label="" aria-describedby="basic-addon1">
    </div>
  </div>
</div>

<div class="container p-2">
  <div class="row justify-content-center">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
      </div>
      <input type="text" class="TicketId" placeholder="" aria-label="" aria-describedby="basic-addon1">
    </div>
  </div>
</div>
    
